.header {
    overflow: hidden;
    width:100%;
    padding: 20px 10px;
    color: #FFF;
    background: rgb(133, 133, 247);
  }
  
  .header a {
    padding: 12px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .header .logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header .header-right{
    float:right;
    padding-right: 2%;
  }

  .header .header-right a:hover {
    background: rgb(136, 88, 175);
  }
  