.header {
  overflow: hidden;
  width:100%;
  padding: 20px 10px;
  color: #FFF;
  background: rgb(133, 133, 247);
}

.header h1 {
  margin: 0px;
  text-align: center;
  position: absolute;
  font-size: 27px;
  letter-spacing: 10px;
}


.header-right{
  float:right;
  padding-right: 2%;
}

.header .menu {
  padding: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.header .menu:hover{
  background: rgb(139, 139, 207);
}   


@media(max-width:568px) {
    .header{
        background-attachment: scroll;
    }
}



.main-header {
  position: fixed;
  top: 0px;
  opacity: 0;
  overflow: hidden;
  width:0%;

  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  background: rgb(133, 133, 247);
  transition: 0.1s;
}

.main-header a {
  padding: 12px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.main-header .logo {
  display: inline;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

.main-header #header-right{
  float:right;
  padding-right: 2%;
}


.main-header .item:hover{
  background: rgb(136, 88, 175);
}





