html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  }

  *{
    padding: 0px;
  }

  .fadeIn{
    animation: fadein 2s;
  }

  @keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
