.section-grid {
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto auto;
	align-content: center;

	margin: 0px auto;
	padding: 0px;
	padding-top: 250px;
	
	text-align: center;
	width: 100%;
}

.section-grid a {
	color: #4885ed;
	text-decoration: none;
}


.section-grid .blog {
	margin: 0px auto;
	text-align: center;
	padding: 10px;
	width: 100%;
	transition: 0.3s;
}

.section-grid .blog .image {
	padding: 0px;
	border: 1px solid #4885ed;
	border-radius: 50%;
}

.section-grid .blog:hover {
	background: #4885ed;
	color: #fff;
	cursor: pointer;
}

.section-grid .blog:hover .description {
	color: #fff;
}

.section {
	text-align: left;
	padding: 20px 10px;
	margin: 0px auto;
}

.section-anim {
	margin-left: 0px;
	transition: 0.5s;
}

.section-normal {
	overflow: auto;

	padding-right:70px;
	padding-left :70px;
	padding-top :70px;
	padding-bottom:70px;

	margin: 0px auto;
	text-align: center;
	width: 95%;
}


.section-normal .profile {
	color: #4885ed;
	display: block;
	margin: 0px auto;
	padding: 10%;
	width: 25%;
	border: 1px solid #4885ed;
	border-radius: 5px;
}

.section-normal .profile #profile-img {
	width: 70px;
	height: 70px;
	border: 1px solid #4885ed;
	border-radius: 50%;
}